body {
  padding: 0;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

/* Intializing (Reset defaults) CSS */
p {
  margin: 0;  
}

/* Styles for navbar */
.navbar {
  padding: 6px;
  height: 3rem;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  width: 2%;
}

.logo {
  width: 20%;
}

.logo img {
  width: 5rem;
  height: auto;
}

/* .logo #title {
    display: inline;
} */

.search {
  width: 60%;
  display: flex;
  align-items: center;
}

.search__box {
  padding-left: 0.5rem;
  width: 80%;
  height: 18px;
  outline: solid thin #f8f8f8;
}

.search__box:focus {
  outline: 0;
}

.search__button {
  width: 3rem;
  height: 24px;
  background-color: gainsboro;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.user {
  width: 20%;
}

.user i {
  padding-right: 1rem;
  float: right;
  font-size: 25px;
}

/* Styles for main */
.main {
  margin: 0 auto;
  padding-top: 1rem;
  width: 95%;
  height: 80vh;
  display: flex;
}

/* Styles for video container */
.video-container {
  width: 70%;
  height: 100%;
}

.video-container iframe {
  width: 100%;
  height: 360px;
  border: 0;
}

.statistic {
  padding: 0 1rem;
}

.statistics__options  p{
  display: inline;
  font-size: 10px;
}

.statistics__icons {
  float: right;
}

.statistics__icons:hover {
  cursor: pointer;
}


.content-creator {
  display: flex;
  align-items: center;
}

.content-creator:hover {
  cursor: pointer;
}

.content-creator i {
  color: green;
  font-size: 2rem;
}
.content-creator i:hover {
  cursor: pointer;
}

.content-creator__name {
  margin-left: 1rem;
}

.content-creator .subscribe {
  margin-left: auto;
  background-color: #e63030;
  padding: 6px;
  color: white;
  border-color: transparent;
  border-radius: 6px;
}

.description {
  margin-top: 1rem;
}

.description__text {
  margin-top: 1rem;
  padding: 0 3rem;
  font-size: 12px;
}
/* Styles for recommendation */
.recommendation {
  width: 30%;
  height: 100%;
}

.preview {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
}

.preview img {
  width: 10rem;
}

.preview__description {
  padding: 1rem 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview__description-title {
  font-size: 14px;
  font-weight: bold;
}

.preview__description-views {
  font-size: 10px;
}