body {
    padding: 0rem 2rem;
    background-color: gainsboro;
}

.navbar {
    height: 4rem;
    width: 100%;
    background-color: blue;
}

.main {
    width: 100%;
    height: 80vh;
    display: flex;
}

.video-container {
    width: 70%;
    height: 100%;
    background-color: green;
}

.recommendation {
    width: 30%;
    height: 100%;
    background-color: red;
}